.container{
    background-color: rgba(0, 255, 255, 0.153);
    background-image: url(../img/pattern.png) ;
    background-size: 250px;
    height: 60px;
    width: auto;
    background-repeat: repeat-x;

}
#logo{
    width: 200px;
    padding: 5px;
}

.data{
    color: rgb(128, 128, 128);
}

.link{
    color:rgb(0, 166, 255) ;
    text-decoration: none;
}
.lighted-Text{
    background-color: yellow;
}

.head-table{
    color: white;
    background-color: rgb(0, 145, 255);

}
.celeste{
    background-color: rgb(0, 247, 255);
}